In [34]:
import pandas as pd

In [35]:
housing_toronto = pd.read_csv('props.csv', index_col=None)

In [36]:
housing_toronto = housing_toronto.drop(columns = 'Unnamed: 0').reset_index(drop=True)

In [37]:
housing_toronto = housing_toronto[housing_toronto['lat'] <= 43.75]
housing_toronto = housing_toronto[housing_toronto['lat'] >= 43.58]
housing_toronto = housing_toronto[housing_toronto['lng'] >= -79.60]
housing_toronto = housing_toronto[housing_toronto['lng'] <= -79.15]
housing_toronto = housing_toronto[housing_toronto['Address'].str.contains('Toronto')]
housing_toronto = housing_toronto[housing_toronto['Price ($)'] > 200000]
housing_toronto = housing_toronto.reset_index(drop=True)

In [45]:
housing_toronto = housing_toronto.groupby('AreaName').mean()
housing_toronto.reset_index()

                    AreaName     Price ($)        lat        lng
0                  Alderwood  1.059907e+06  43.602732 -79.544717
1             Armour Heights  3.270000e+06  43.746012 -79.428058
2             Bay Cloverhill  2.490000e+05  43.665531 -79.385147
3                 Beach Hill  8.990000e+05  43.678930 -79.313476
4               Bedford Park  1.770333e+06  43.727431 -79.410515
..                       ...           ...        ...        ...
164         Woodbine Heights  1.124500e+06  43.689850 -79.317177
165         Wynford-Concorde  4.788300e+05  43.723981 -79.334929
166       Yonge and Lawrence  1.589000e+06  43.728615 -79.402267
167               York Mills  4.768648e+06  43.744719 -79.395288
168  York University Heights  9.510000e+05  43.749916 -79.503555

[169 rows x 4 columns]